#!ipxe

###
### {{ site_name }} custom menu example
###

:custom
clear custom_choice
menu CentOS Menu
item --gap CentOS
item option_one ${space} CentOS
choose custom_choice || goto custom_exit
echo ${cls}
goto ${custom_choice}
goto custom_exit

:option_one

### CentOS
set arch x86_64
set centos_mirror http://mirror.centos.org
set centos_base_dir centos
set osversion 8-stream

set dir ${centos_base_dir}/${osversion}/BaseOS/${arch}/os
iseq ${osversion} 7 && set dir ${centos_base_dir}/${osversion}/os/${arch} ||
set repo ${centos_mirror}/${dir}

isset ${dhcp-server} && set ipparam ip=dhcp || set ipparam ip=${ip}::${gateway}:${netmask}:::none nameserver=${dns}
set ipparam BOOTIF=${netX/mac} ${ipparam}
set cmdline console=ttyS1,115200n8 edd=off nomodset noapic nolapic acpi=off

# prompt -k 0x197e -t 30000 Press F12 to install CentOS... || exit

imgfree
kernel ${centos_mirror}/${dir}/images/pxeboot/vmlinuz inst.repo=${repo} ${params} ${ipparam} initrd=initrd.img ${cmdline} 
initrd ${centos_mirror}/${dir}/images/pxeboot/initrd.img
sleep 10
echo Booting now ...
boot || goto custom_exit
